/* @import '~antd/dist/antd.css'; */
.title {
	text-transform: uppercase;
}

body {
	background: #f0f2f5;
}

.content {
	height: 100%;
	padding: 24px 64px;
	background: #ffffff;
	text-align: center;
}
